.about-grid
  margin: auto
  color: $darkblue

.about-cell-img
  margin: auto
  height: 50vw

.about-cell-header
  // for outline text
  text-transform: uppercase
  font-size: 8vw
  padding-top: 16vw
  padding-bottom: 22vw
  color: white
  -webkit-text-stroke-width: 1px
  -webkit-align-content: 
  -webkit-text-stroke-color: black
  font-weight: bold

.about-cell-main
  font-size: 4vw-2vw
  line-height: 6vw
  padding-bottom: 4vw

.about-cell-footer

.button, html [type="button"], [type="reset"], [type="submit"] 
  background-color: red
  border: none

// Grid
@media (min-width: $media-grid-start)
  .about-grid
    display: grid
    grid-template-columns: repeat(25, 1fr)
    grid-template-rows: repeat(20, 1fr)
    grid-gap: 1em
    padding: 0 0 0 2vw

  .about-cell-img
    grid-area: 1 / 1 / 20 / 25 

  .about-cell-header
    grid-area: 1 / 1 / 2 / 25
    padding: 0
    font-size: 6vw
    text-transform: uppercase
    // for outline text
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: black 

  .about-cell-main
    grid-area: 2 / 1 / 3 / 14
    padding: 0
    margin: 0
    font-size: 2vw
    line-height: 3w

  .about-cell-footer
    grid-area: 3 / 1 / 4 / 25
