%base-grid-background
  background-image: url("connections.jpg")
  background-size: contain
  background-repeat: no-repeat

%base-grid
  margin: auto
  // padding: 0vw 4vw 4vw 4vw
  color: $darkblue
  // background-image: url("connections.jpg") 
  background-size: contain
  background-repeat: no-repeat

%base-cell-header
  // for outline text
  text-transform: uppercase
  font-size: 8vw
  padding-top: 16vw
  padding-bottom: 22vw
  color: white
  -webkit-text-stroke-width: 1px
  -webkit-align-content: 
  -webkit-text-stroke-color: black
  font-weight: bold

%base-cell-main
  font-size: 4vw-2vw
  line-height: 6vw
  padding-bottom: 4vw

%base-cell-footer

.button, html [type="button"], [type="reset"], [type="submit"] 
  background-color: red
  border: none

// Grid
// @media (min-width: $media-grid-start)
//   .base-grid
//     display: grid
//     grid-template-columns: repeat(25, 1fr)
//     grid-template-rows: repeat(3, 1fr)
//     grid-gap: 1em
//     padding: 0 0 0 2vw
//     height: 50vw
// 
//   .base-cell-header
//     grid-area: 1 / 1 / 2 / 25
//     grid-gap: 1vw
//     padding: 0
//     font-size: 6vw
//     text-transform: uppercase
//     // for outline text
//     -webkit-text-stroke-width: 1px
//     -webkit-text-stroke-color: black 
// 
//   .base-cell-main
//     grid-area: 2 / 1 / 3 / 14
//     padding: 0
//     margin: 0
//     font-size: 2vw
//     line-height: 3w
// 
//   .base-cell-footer
//     grid-area: 3 / 1 / 4 / 25
