.connect-grid
  margin: auto
  padding: 0vw 4vw 4vw 4vw
  color: white
  background-image: url("connect.jpg")
  background-size: contain

.connect-cell-header
  // for outline text
  color: white
  text-transform: uppercase
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: $darkblue 
  font-size: 8vw

.connect-cell-main
  font-size: 3vw
  color: $darkblue
  padding-bottom: 2vw

.connect-cell-footer

// Grid
@media (min-width: $media-grid-start)
  .connect-grid
    display: grid
    grid-template-columns: repeat(25, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-gap: 1em
    background-image: url("connect.jpg")
    background-size: contain
    background-repeat: no-repeat
    padding: 0 0 0 2vw
    height: 52vw

  .connect-cell-header
    grid-area: 1 / 1 / 2 / 25
    grid-gap: 1vw
    padding: 0
    margin: 0
    color: white
    font-size: 6vw
    text-align: left
    // for outline text
    text-transform: uppercase
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: $darkblue 

  .connect-cell-main
    grid-area: 2 / 1 / 3 / 14
    padding: 0
    margin: 0
    font-size: 2vw
    color: $darkblue
    line-height: 3vw

  .connect-cell-footer
    grid-area: 3 / 1 / 4 / 25
