.section-grid
  margin: auto
  padding: 0vw 4vw 4vw 4vw
  color: white
  // add varialble
  background-image: url("connections.jpg")
  background-size: contain
  background-repeat: no-repeat

.section-cell-header
  // add variable
  color: white
  text-transform: uppercase
  font-size: 10vw
  font-weight: bold
  padding-top: 16vw
  padding-bottom: 20vw
  // for outline text
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: black 

.section-cell-main
  font-size: 4vw
  color: $darkblue 
  padding-bottom: 2vw

.section-cell-footer

.button, html [type="button"], [type="reset"], [type="submit"] 
  background-color: red
  color: white
  border: none

// Grid
@media (min-width: $media-grid-start)
  .section-grid
    display: grid
    grid-template-columns: repeat(25, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-gap: 1em
    padding: 0 0 0 2vw
    height: 50vw

  .section-cell-header
    grid-area: 1 / 1 / 2 / 25
    grid-gap: 1vw
    padding: 0 0 6vw 0
    font-size: 6vw
    font-weight: bold
    color: white 
    text-transform: uppercase
    // for outline text
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: black 

  .section-cell-main
    grid-area: 2 / 1 / 3 / 14
    padding: 0
    margin: 0
    font-size: 2vw
    line-height: 2w
    color: $darkblue

  .section-cell-footer
    grid-area: 3 / 1 / 4 / 25
