.contact-grid
  background-image: url("contact.jpg")
  background-repeat: no-repeat
  background-size: contain
  margin: auto
  color: white

.contact-cell-header
  padding: 17vw 0 15vw 0
  font-size: 11vw
  color: white
  font-weight: bold
  text-align: right
  text-transform: uppercase
  // for outline text
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: $darkblue 

.contact-cell-main
  padding: 4vw 0 4vw 0
  color: black
  font-size: 4vw
  line-height: 6vw

.contact-cell-footer

// Grid
@media (min-width: $media-grid-start)
  .contact-grid
    display: grid
    grid-gap: 1em
    grid-template-columns: repeat(25, 1fr)
    grid-template-rows: repeat(12, 1fr)
    height: 50vw

  .contact-cell-header
    grid-area: 1 / 16 / 2 / 25
    grid-gap: 1vw
    padding: 5vw 0 0 0
    // for outline text
    color: white
    text-transform: uppercase
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: $darkblue 
    font-size: 6vw
    text-align: left

  .contact-cell-main
    grid-area: 2 / 16 / 3 / 25
    color: white
    font-size: 2vw
    line-height: 3vw
    padding: 0

  .contact-cell-footer
    grid-area: 3 / 16 / 4 / 25
