.page-grid
  margin: auto
  // padding: 0vw 4vw 4vw 4vw
  color: $darkblue
  // background-image: url("connections.jpg") 
  background-size: contain
  background-repeat: no-repeat

.page-cell-header
  // for outline text
  text-transform: uppercase
  font-size: 8vw
  padding-top: 16vw
  padding-bottom: 22vw
  color: white
  -webkit-text-stroke-width: 1px
  -webkit-align-content: 
  -webkit-text-stroke-color: black
  font-weight: bold

.page-cell-main
  font-size: 4vw
  line-height: 6vw
  padding-bottom: 4vw

.page-cell-footer

.button, html [type="button"], [type="reset"], [type="submit"] 
  background-color: red
  border: none

// Grid
@media (min-width: $media-grid-start)
  .page-grid
    display: grid
    grid-template-columns: repeat(25, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-gap: 1em
    padding: 0 0 0 2vw
    height: 50vw

  .page-cell-header
    grid-area: 1 / 1 / 2 / 25
    grid-gap: 1vw
    padding: 0
    font-size: 6vw
    text-transform: uppercase
    // for outline text
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: black 

  .page-cell-main
    grid-area: 2 / 1 / 3 / 14
    padding: 0
    margin: 0
    font-size: 2vw
    line-height: 3w

  .page-cell-footer
    grid-area: 3 / 1 / 4 / 25

// sets the background image for.page headers

.connections-grid
  background-image: url("connections.jpg") 

.services-grid
     background-image: url("services.jpg") 

.different-grid
  margin: auto
  padding: 0vw 4vw 4vw 4vw
  color: $darkblue
  background-image: url("different.jpg") 
  background-size: contain
  background-repeat: no-repeat

.smart-grid
  margin: auto
  padding: 0vw 4vw 4vw 4vw
  color: $darkblue
  background-image: url("smart.jpg") 
  background-size: contain
  background-repeat: no-repeat
