@mixin grid
  display: grid
  grid-template-columns: repeat(25, 1fr)
  grid-template-rows: repeat(3, 1fr)
  grid-gap: 1em
  padding: 0 0 0 2vw
  height: 50vw

@mixin cell-header
  grid-area: 1 / 1 / 2 / 25
  grid-gap: 1vw
  padding: 0
  font-size: 6vw
  text-transform: uppercase
  for outline text
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: black 

@mixin cell-main
  grid-area: 2 / 1 / 3 / 14
  padding: 0
  margin: 0
  font-size: 2vw
  line-height: 3w

@mixin cell-footer
  grid-area: 3 / 1 / 4 / 25
