nav
  padding: 0
  margin: 0
  
ul
  list-style-type: none
  margin: 0
  padding: 0 0 0 2vw
  background-color: black
  overflow: hidden

li
  float: left
  margin: 0

  a
    display: inline-block
    color: white
    text-align: center
    padding: 2vw 2vw
    text-decoration: none

.dropbtn
  display: inline-block
  color: white
  text-align: center
  padding: 2vw 2vw
  text-decoration: none

li a:hover, .dropdown:hover .dropbtn
  background-color: red

li.dropdown
  display: inline-block

.dropdown-content
  display: none
  position: absolute
  background-color: #f9f9f9
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
  z-index: 1

  a
    color: black
    padding: 12px 16px
    text-decoration: none
    display: block
    text-align: left

    &:hover
      background-color: #f1f1f1

.dropdown:hover .dropdown-content
  display: block
