.section-grid
  margin: auto
  padding: 0vw 4vw 4vw 4vw
  color: $darkblue
  background-image: url("connections.jpg") 
  background-size: contain
  background-repeat: no-repeat

.section-cell-header
  // for outline text
  text-transform: uppercase
  font-size: 10vw
  padding-top: 16vw
  padding-bottom: 22vw
  color: white
  -webkit-text-stroke-width: 1px
  -webkit-align-content: 
  -webkit-text-stroke-color: black
  font-weight: bold

.section-cell-main
  font-size: 4vw
  padding-bottom: 4vw

.section-cell-footer

.button, html [type="button"], [type="reset"], [type="submit"] 
  background-color: gold
  border: none

// Grid
@media (min-width: $media-grid-start)
  .section-grid
    display: grid
    grid-template-columns: repeat(25, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-gap: 1em
    padding: 0 0 0 2vw
    height: 50vw

  .section-cell-header
    grid-area: 1 / 1 / 2 / 25
    grid-gap: 1vw
    padding: 0
    font-size: 6vw
    text-transform: uppercase
    // for outline text
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: black 

  .section-cell-main
    grid-area: 2 / 1 / 3 / 14
    padding: 0
    margin: 0
    font-size: 2vw
    line-height: 2w

  .section-cell-footer
    grid-area: 3 / 1 / 4 / 25

// sets the background image for section headers

.connections-grid
  margin: auto
  padding: 0vw 4vw 4vw 4vw
  color: $darkblue
  background-image: url("connections.jpg") 
  background-size: contain
  background-repeat: no-repeat

@media (min-width: $media-grid-start)
  .connections-grid
    display: grid
    grid-template-columns: repeat(25, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-gap: 1em
    padding: 0 0 0 2vw
    height: 50vw

.tools-grid
  margin: auto
  padding: 0vw 4vw 4vw 4vw
  color: $darkblue
  background-image: url("tools.jpg") 
  background-size: contain
  background-repeat: no-repeat

@media (min-width: $media-grid-start)
  .tools-grid
    display: grid
    grid-template-columns: repeat(25, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-gap: 1em
    padding: 0 0 0 2vw
    height: 50vw

.services-grid
  margin: auto
  padding: 0vw 4vw 4vw 4vw
  color: $darkblue
  background-image: url("services.jpg") 
  background-size: contain
  background-repeat: no-repeat

@media (min-width: $media-grid-start)
  .services-grid
    display: grid
    grid-template-columns: repeat(25, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-gap: 1em
    padding: 0 0 0 2vw
    height: 50vw

.contact-grid
  margin: auto
  padding: 0vw 4vw 4vw 4vw
  color: $darkblue
  background-image: url("contact.jpg") 
  background-size: contain
  background-repeat: no-repeat

@media (min-width: $media-grid-start)
  .contact-grid
    display: grid
    grid-template-columns: repeat(25, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-gap: 1em
    padding: 0 0 0 2vw
    height: 50vw
