.tools-grid
  margin: auto
  padding: 0vw 4vw 4vw 4vw
  color: white
  background-image: url("tools.jpg")
  background-size: contain
  background-repeat: no-repeat

.tools-cell-header
  // for outline text
  color: #ca822f
  padding-top: 16vw
  padding-bottom: 22vw
  font-size: 8vw
  font-weight: bold
  text-transform: uppercase
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: black 

.tools-cell-main
  font-size: 4vw
  padding-bottom: 4vw
  color: black

.tools-cell-footer

.button, html [type="button"], [type="reset"], [type="submit"] 
  color: black
  background-color: #9e2399
  border: none

// Grid
@media (min-width: $media-grid-start)
  .tools-grid
    display: grid
    grid-template-columns: repeat(25, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-gap: 1em
    padding: 0 0 0 2vw
    height: 50vw

  .tools-cell-header
    grid-area: 1 / 1 / 2 / 25
    grid-gap: 1vw
    padding: 0
    font-size: 6vw
    // for outline text
    text-transform: uppercase
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: black 

  .tools-cell-main
    grid-area: 2 / 1 / 3 / 14
    padding: 0
    margin: 0
    font-size: 2vw
    line-height: 3w

  .tools-cell-footer
    grid-area: 3 / 1 / 4 / 25
