// libraries
@import "open-color.scss"
@import "normalize/_normalize.scss"
@import "milligram/milligram.sass"

// Normalize
@include normalize()

// Vars
@import "_variables.sass"
@import "_mixins.sass"

// Navigation
@import "_nav.sass"
@import "_ham.sass"

// Index
@import "_index.sass"

// Sections
@import "_section.sass"
// Section Headers
@import "headers/_base.sass"
@import "headers/_connections.sass"
@import "headers/_services.sass"
@import "headers/_tools.sass"
@import "headers/_different.sass"
@import "headers/_smart.sass"
@import "headers/_contact.sass"

// Page
@import "_page.sass"


html

body
  color: black
h1
  font-size: 10vw
  color: black

h2
  font-size: 8vw
  color: black

h3
  font-size: 6vw
  color: black

h4
  font-size: 4vw
  color: black

h5
  font-size: 3vw
  color: black

p
  font-size: 2vw
  color: black
  padding: 0px
  margin: 0px

/* .background-img
  width: 100%
  height: 100%
  background-image: url(images/moringa.jpg)
  background-repeat: no-repeat */

.button 
  background-color: red
  border: none
  color: white
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 4vw

/* .matrix-button
  fill: $oc-blue-5
  text-align: center
  width: 100%
  // svg
  //     fill: black */


/* svg
  background: $oc-gray-6
  width: 25vw
  height: 100%
  fill: $oc-pink-7 */
