%base-grid-background
  background-size: contain
  background-repeat: no-repeat

%base-grid
  margin: auto
  padding: 0vw 4vw 4vw 4vw
  color: $darkblue
  background-size: contain
  background-repeat: no-repeat

%base-cell-header
  // for outline text
  text-transform: uppercase
  font-size: 8vw
  padding-top: 16vw
  padding-bottom: 22vw
  color: white
  -webkit-text-stroke-width: 1px
  -webkit-align-content: 
  -webkit-text-stroke-color: black
  font-weight: bold

%base-cell-main
  padding: 4vw 0 4vw 0

%base-cell-footer
  font-size: 4vw

%button, html [type="button"], [type="reset"], [type="submit"] 
  background-color: red
  border: none
