.contact-grid-background
  @extend %base-grid-background
  background-image: url("contact.jpg")
    
.contact-grid
  @extend %base-grid

.contact-cell-header
  @extend %base-cell-header
  text-align: right

.contact-cell-main
  @extend %base-cell-main

.contact-cell-footer
  @extend %base-cell-footer

.button, html [type="button"], [type="reset"], [type="submit"] 
  @extend %button

// Grid
@media (min-width: $media-grid-start)
  .contact-grid
    @include grid

  .contact-cell-header
    @include cell-header
    grid-area: 1 / 16 / 2 / 25
    padding: 4vw 0 0 0

  .contact-cell-main
    @include cell-main
    grid-area: 2 / 16 / 2 / 25
    color: white

  .contact-cell-footer
    @include cell-footer
    grid-area: 3 / 16 / 3 / 25
