.smart-grid-background
  @extend %base-grid-background
  background-image: url("smart.jpg")
    
.smart-grid
  @extend %base-grid

.smart-cell-header
  @extend %base-cell-header
  padding-top: 9vw
  padding-bottom: 8vw

.smart-cell-main
  @extend %base-cell-main

.smart-cell-footer
  @extend %base-cell-footer

.button, html [type="button"], [type="reset"], [type="submit"] 
  @extend %button

// Grid
@media (min-width: $media-grid-start)
  .smart-grid
    @include grid

  .smart-cell-header
    @include cell-header

  .smart-cell-main
    @include cell-main

  .smart-cell-footer
    @include cell-footer
