.tools-grid-background .services-grid-background
  @extend %base-grid-background
  background-image: url("tools.jpg")
    
.tools-grid
  @extend %base-grid

.tools-cell-header
  @extend %base-cell-header
  color: $orange

.tools-cell-main
  @extend %base-cell-main

.tools-cell-footer
  @extend %base-cell-footer

.button, html [type="button"], [type="reset"], [type="submit"] 
  @extend %button

// Grid
@media (min-width: $media-grid-start)
  .tools-grid
    @include grid

  .tools-cell-header
    @include cell-header

  .tools-cell-main
    @include cell-main
    color: white

  .tools-cell-footer
    @include cell-footer
  
