<!DOCTYPE html>
<html>
	<head>
		{% include "head.html" %}
	</head>

	<body>
		<!-- main sub-template content -->
		{% include "nav.html" %}
		{% include "ham.html" %}
		<!-- main sub-template content -->
		{% block body %}
		{% endblock body %}
	</body>

	<footer>
		{% include "footer.html" %}
	</footer>
</html>
