{% extends "base.html" %}

{% block body %} 


<div class="index-grid">
	
	<div class="index-cell-header">
		{{ section.title | safe }}
	</div>

	<div class="index-cell-main">
		{{ section.description | safe }}
	</div>

	<div class="index-cell-footer">
		<button class="button" type="button">Get Smart</button>
	</div>

</div>
</div>

{% endblock body %}
