{% extends "base.html" %}

{% block body %} 


<div class="{{ page.slug | safe }}-grid-background">
<div class="{{ page.slug | safe }}-grid">
	
	<div class="{{ page.slug | safe }}-cell-header">
		{{ page.title | safe }}
	</div>

	<div class="{{ page.slug | safe }}-cell-main">
		{{ page.description | safe }}
	</div>

	<div class="{{ page.slug | safe }}-cell-footer">
		<button class="button" type="button">Get Smart</button>
	</div>

</div>
</div>

{% endblock body %}
