{% extends "base.html" %}

{% block body %}

<div class="section-grid">

	<div class="section-cell-header">
		{{ section.title | safe }}
	</div>
	
	<div class="section-cell-main">
		{{ section.description | safe }}
	</div>

	<div class="section-cell-footer">
		<button type="button">Get Smart</button>
	</div>
	
</div>

{% endblock body %}
